@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
    font-family: "Acme", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
